            <div class="footer">
                <% if(nombre){ %>
                    <a href="/<%= nombre %>/pokemon"><img class="pokemonLogo" src="/images/poke_logo.png" alt=""></a>
                <% } else { %>
                    <a href="/"><img class="pokemonLogo" src="/images/poke_logo.png" alt=""></a>
                <% } %>
            </div>
        </div>
    </body>
</html>