.header{
    width: 700px;
    margin: auto;
}
nodejsLogo{
    width: 250px;
}
.headerText{
    margin: 30px;
    float: left;
}
.container{
    width: 700px;
    margin: auto;
}
.footer{
    width: 200px;
    margin: auto;
}
.pokemonLogo{
    width: 200px;
    margin-top: 30px;
}
.bloque{
    width: 300px;
    margin: auto;
    text-align: center;
}