<% include ../partials/header %>
<div class="container">
    <div class="bloque">
        <p>Agregar un nuevo ataque!</p>
        <form action="/<%= nombre %>/newAttack/<%= pokemon %>" method="post">
            <input type="text" name="nombre" value="" placeholder="Nombre">
            <input type="text" name="tipo" value="" placeholder="Tipo">
            <input type="text" name="daño" value="" placeholder="Daño">
            <button>Nuevo Ataque!</button>
        </form>
    </div>
<% include ../partials/footer %>