<% include ../partials/header %>
<div class="container">
    <div class="bloque">
        <h2>Bienvenido <%= nombre %>!</h2>
        <h3>Esta por comenzar tu Aventura!</h3>
        <a href="/<%= nombre %>/pokemon">Elige un Pokemon!</a>
    </div>
<% include ../partials/footer %>