<% include ../partials/header %>
<div class="container">
    <div class="bloque">
        <h3>Ingresa tu nombre para empezar</h3>
        <form action="/" method="post">
            <input type="text" name="nombre" value="" placeholder="Nombre">
            <button>Comenzar</button>
        </form>
    </div>
<% include ../partials/footer %>
